body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: Arial,​Helvetica,​sans-serif;
    font-size: 12px;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

.header {
    background-color: #eee;
    color: black;
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    border-bottom: 1px black solid;
}

.header .content {
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 300%;
    vertical-align: bottom;
}

.header a, .header a:visited {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 300%;
    font-weight: bold;
}

h2 {
    font-size: 250%;
    font-weight: bold;
    line-height: 200%;
}

.album-row .album-title {
    font-size: 150%;
}

.album-row .album-title:before {
    content: "# ";
}

.album-list-cover {
    display: block;
    vertical-align: middle;
}

.row-list-item {
    display: table;
    width: 100%;
}

.row-list-item:hover {
    background-color: #ceeef5;
    cursor: pointer;
}

.row-list-item .image-container {
    width: 155px;
    text-align: center;
    float: left;
}

.photo-row {
    vertical-align: middle;
    width:33%;
    display: inline-block;
}

.album-desc {
    padding-bottom: 20px;
}

.exif-table {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.exif-row {
    border-bottom: 1px gray dotted;
    padding: 2px;
}

.exif-row .exif-key-cell {
    width: 100px;
    margin-right: 2px;
    padding: 5px;
}

.exif-row .exif-value-cell {
    margin-left: 2px;
    padding: 5px;
}

.footer {
    margin-top: 5px;
    border-top: 1px #aaa dashed;
}

.footer .poweredby {
    text-align: center;
    margin: 5px;
    color: gray;
}