body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: Arial,​Helvetica,​sans-serif;
    font-size: 12px;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

.header {
    background-color: #eee;
    color: black;
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 2px #ddd solid;
}

.header .content {
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 300%;
    vertical-align: bottom;
}

.header a, .header a:visited {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

.footer {
    margin-top: 5px;
    border-top: 1px #aaa dashed;
}

.footer .poweredby {
    text-align: center;
    margin: 5px;
    color: gray;
}

/* Basic custom components */

.row-list-item {
    display: table;
    width: 100%;
}

.row-list-item:hover {
    background-color: #ceeef5;
    cursor: pointer;
}

.row-list-item .image-container {
    width: 270px;
    text-align: center;
    float: left;
}

.description-container {
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Album lists */

.album-row .album-title {
    font-size: 150%;
}

.album-row {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 700px;
    margin: 0 auto;
}

.album-row .album-title:before {
    content: "# ";
}

.album-list-cover {
    display: block;
    vertical-align: middle;
}

/* Albums */

.photo-row {
    vertical-align: middle;
    width: 270px;
    height: 300px;
    display: inline-block;
    text-align: center;
}

.photo-row .image-container {
    float: none;
    display: inline-block;
}

.photo-title {
    font-weight: bold;
    font-size: 18px;
}

.photo-preview-container {
    text-align:center;
}

/* Photos */

.exif-table {
    width: 500px;
    margin: 0 auto;
}

.exif-row {
    border-bottom: 1px gray dotted;
    padding: 2px;
}

.exif-row .exif-key-cell {
    width: 100px;
    margin-right: 2px;
    padding: 5px;
}

.exif-row .exif-value-cell {
    margin-left: 2px;
    padding: 5px;
}

.photo-switcher {
    font-size: 14px;
    margin: 0 0 10px 0;
    background-color: #eee;
}

.photo-switcher a {
    display: inline-block;
    border-right: 2px #fff solid;
    padding: 10px;
}

.photo-switcher a, .photo-switcher a:visited {
    color: #888;
}

.photo-switcher a:hover {
    background-color: #666;
    color: white;
}
