body {
    margin: 0 auto;
    max-width: 1000px;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

.header {
    background-color: #888;
    color: white;
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}

.header .content {
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 300%;
    vertical-align: bottom;
}

.header a, .header a:visited {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 300%;
    font-weight: bold;
}

h2 {
    font-size: 250%;
    font-weight: bold;
    line-height: 200%;
}

.photo-row {
    vertical-align: middle;
}

.album-row .album-title {
    font-size: 150%;
}

.album-row .album-title:before {
    content: "# ";
}

.album-list-cover {
    display: block;
    vertical-align: middle;
}

.row-list-item {
    display: table;
    width: 100%;
}

.row-list-item:hover {
    background-color: #ceeef5;
    cursor: pointer;
}

.row-list-item .image-container {
    width: 155px;
    text-align: center;
    float: left;
}

.footer {
    margin-top: 5px;
    border-top: 1px black dashed;
}

.footer .poweredby {
    text-align: center;
    margin: 5px;
    color: gray;
}