<!DOCTYPE html>
<html>
<head>
  <title><% if (page.title) { %><%= page.title %> - <% } %><%= site.title %></title>
  <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.0/build/cssreset/cssreset-min.css">
  <%
     site.css.forEach(function (css) {
     print('<link rel="stylesheet" type="text/css" href="' + css + '">');
     });
     site.js.forEach(function (js) {
     print('<script type="application/javascript" src="' + js + '"></script>');
     });
  %>
  <% if (site.googleanalystics && site.googleanalystics.length > 0) { %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= site.googleanalystics %>']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <% } %>
</head>
<body>
  <div class="header">
    <span class="content">
      <a href="<%= site.main %>"><%= site.title %></a>
    </span>
  </div>
  <div id="main-container">
