<div class="side-bar">
<% if (page.desc) { %><div class="side-bar-section"><div
class="album-description description-container"><%= page.desc %></div></div><% } %>
<% if (page.enableTagListOnSidebar) { %>
<div class="tag-container side-bar-section">
<p class="title">Tags</p>
<% tags.forEach(function(t) { %>
<span class="tag"><a href="<%= t.tagUrl %>"><%= t.title %></a></span>
<% }); %>
</div>
<% } // page.enableTagListOnSidebar %>
<% if (page.enableAlbumListOnSidebar) { %>
<div class="tiny-album-list-container side-bar-section">
<p class="title">Albums</p>
<% albums.forEach(function (a) { %>
<div class="image-link" to="<%= a.albumUrl %>">
  <div class="image-container"><img src="<%= a.littleThumbnailUrl %>" class="album-list-cover"/></div>
  <div class="describe-container">
    <%= a.title %>
  </div>
</div>
<% }) %>
</div>
<% } // page.enableAlbumListOnSidebar %>
</div>
