<%! header.html %>
<div class="navigation-bar"><a href="<%= site.main %>"><%= site.title %></a></div>
<div class="content-container">
<div class="content-area">
<% albums.forEach(function(a) { %>
<div class="album-row image-link" to="<%= a.albumUrl %>">
  <div class="image-container"><img src="<%= a.thumbnailUrl %>" class="album-list-cover"/></div>
  <div class="describe-container">
    <p class="album-title"><%= a.title %></p>
    <p><%= a.desc %></p>
    <p class="photonumber">Photos: <%= a.photos.length %></p>
  </div>
</div>
<% }) %>
</div>
<div class="side-bar">
<div class="tag-container side-bar-section">
<p class="title">Tags</p>
<% tags.forEach(function(t) { %>
<span class="tag"><a href="<%= t.tagUrl %>"><%= t.title %></a></span>
<% }); %>
</div>
</div>
<div class="clear-fix"></div>
<div>
<%! footer.html %>
