<div class="navigation-bar"><a href="<%= site.main %>"><%= site.title %></a><span class="title"><%= album.title %></span></div>
<div class="album-middle">
<div class="photo-preview-container">
<% album.photos.forEach(function(p) { %><div class="image-link photo-row" to="<%= p.pageUrl %>">
  <div class="image-container"><img src="<%= p.thumbnailUrl %>" /></div>
  <div class="photo-title"><%= p.title %></div>
</div><% }); %>
</div>
<div class="side-bar">
  <div class="inner-container"> 
<% if (album.desc) { %><div class="album-description description-container"><%= album.desc %></div><% } %>
  </div>
</div>
<div class="clear-fix"></div>
</div>
