<div class="navigation-bar"><a href="<%= site.main %>"><%= site.title %></a><span class="title"><%= album.title %></span></div>
<div class="content-container">
<div class="content-area photo-preview-container">
<% album.photos.forEach(function(p) { %><div class="image-link photo-row" to="<%= p.pageUrl %>">
  <div class="image-container"><img src="<%= p.thumbnailUrl %>" /></div>
  <div class="photo-title"><%= p.title %></div>
</div><% }); %>
</div>
<div class="side-bar">
<% if (album.desc) { %><div class="album-description description-container"><%= album.desc %></div><% } %>
<div class="tiny-album-list-container side-bar-section">
<p class="title">Albums</p>
<% albums.forEach(function (a) { %>
<div class="image-link" to="<%= a.albumUrl %>">
  <div class="image-container"><img src="<%= a.littleThumbnailUrl %>" class="album-list-cover"/></div>
  <div class="describe-container">
    <%= a.title %>
  </div>
</div>
<% }) %>
</div>
<div class="tag-container side-bar-section">
<p class="title">Tags</p>
<% tags.forEach(function(t) { %>
[<a href="<%= t.tagUrl %>"><%= t.title %></a>] 
<% }); %>
</div>
</div>
<div class="clear-fix"></div>
</div>
