<div class="photo-switcher"><a href="<%= photo.albumUrl %>"><%= photo.albumTitle %></a> &gt; <a href="<%= photo.prevUrl %>">Prev</a> / <a href="<%= photo.nextUrl %>">Next</a></div>
<h2><%= photo.title %></h2>
<div class="photo-description description-container"><%= photo.desc %></div>
<div class="photo-container">
  <img class="photo" src="1000.jpg" />
</div>
<div class="photo-switcher"><a href="<%= photo.albumUrl %>"><%= photo.albumTitle %></a> &gt; <a href="<%= photo.prevUrl %>">Prev</a> / <a href="<%= photo.nextUrl %>">Next</a></div>
<% if (photo.exif) { %>
<div class="exif-container">
  <h2>Exif</h2>
  <table class="exif-table">
<%
   Object.keys(photo.exif).forEach(function (exifEntry) {
     var exifVal = photo.exif[exifEntry];
%>
<tr class="exif-row"><td class="exif-key-cell"><%= exifEntry %></td><td class="exif-value-cell"><%= exifVal %></td></tr>
<% }); %>
  </table>
<% } %>
